{% extends "task/base.html" %}


{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Title</td>
            <td>Order</td>
            <td>Description</td>
            <td>Type</td>
            <td>Tile</td>
            <td>
                <a href="{% url 'task_insert' %}" class="btn btn-outline-success">
                    <i class="fas fa-plus"></i> Add New
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for user in task_list %}
            <tr>
                <td>{{user.title}}</td>
                <td>{{user.order}}</td>
                <td>{{user.desc}}</td>
                <td>{{user.type}}</td>
                <td>{{user.tile}}</td>
                <td>
                    <a href="{% url 'task_update' user.id %}" class="btn text-secondary px-0">
                        <i class="far fa-edit fa-lg"></i>
                    </a>
                    <form action="{% url 'task_delete' user.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn">
                            <i class="far fa-trash-alt fa-lg text-danger float-right"></i>
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}